
  
  /* Medium screens (641px to 1024px) */
  @media (min-width: 641px) and (max-width: 1024px) {
    
    .discover-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
      grid-template-areas: 
        "item1 item2"
        "item3 item4"
        "item5 item6"
        "item7 item8";
    }
    
    .discover-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
      }
      
      /* Adjust image size or behavior */
      .item img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        transition: transform 0.3s ease;
      }
      

  }